# Pandas
-----
## 05. 데이터 정렬과 순위
### 데이터 정렬
- sort_index() : 인덱스를 기준으로 정렬
- sort_value() : 데이터 값을 기준으로 정렬
#### sort_index()

In [1]:
import pandas as pd

# data/household_accounts.csv를 기준으로 연습
df = pd.read_csv('../data/household_accounts.csv', index_col=0)
df

df_sorted = df.sort_index(ascending=False) # 내림차순
df_sorted

            카테고리      금액
날짜
2023-06-30    미용   20100
2023-06-30   자동차  115500
2023-06-30    병원   98700
2023-06-29    외식   35600
2023-06-29    기부   19700
...          ...     ...
2023-01-02  대중교통    1500
2023-01-01    운동   84900
2023-01-01   데이트  114600
2023-01-01    기부   29800
2023-01-01    마트   97300

[543 rows x 2 columns]

#### sort_values()

In [ ]:
df.sort_values(by='금액', ascending=False) # 내림차순

df_daily = df.groupby('날짜')['금액'].sum()
df_daily

df_daily.sort_values(ascending=False)

### 데이터 순위
#### rank
- rank 메서드
- 동점이 있을 때 순위를 결정
- 일반적인 순위 지정 방법
    - average (default)
        - 동점이 있을 경우, 동점 요소에 평균 순위를 할당
    - min
        - 동점이 있을 경우, 동점 요소 중 최소 순위를 할당
    - max
        - 동점이 있을 경우, 동점 요소 중 최대 순위를 할당
    - first
        - 데이터프레임 내의 위치에 따라 순위를 할당
    - dense
        - min과 비슷하지만 같은 순위를 건너뛰지 않고 순위를 1씩 증가시킴

In [ ]:
# 제공된 코드
import pandas as pd

data = {'Score': [85, 92, 78, 95, 88, 92]}
df = pd.DataFrame(data)
# /제공된 코드

# 기본값 (average)
df['rank_average'] = df['Score'].rank(ascending=False)
df['rank_min'] = df['Score'].rank(ascending=False, method='min')
df['rank_max'] = df['Score'].rank(ascending=False, method='max')
df['rank_first'] = df['Score'].rank(ascending=False, method='first')
df['rank_dense'] = df['Score'].rank(ascending=False, method='dense')

df

In [ ]:
# 제공된 코드
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Score': [85, 92, 78, 95, 88],
    'Age': [25, 34, 19, 28, 22],
    'Height': [165, 178, 155, 172, 168]
}

df = pd.DataFrame(data)
df
# /제공된 코드

# Score 열을 기준으로 순위를 포함하는 Score_Rank 변수를 파생
df['Score_Rank'] = df['Score'].rank(ascending=False)
df.sort_values(by='Score_Rank', inplace=True)
df